* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #faf6ed;
  color: #333;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu ul li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #333;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  /*18px*/
  letter-spacing: 0.1em;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.title {
  font-family: monospace;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: monospace;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  /*O que passar da altura de 370px, vai inserir um scroll*/
  grid-column: 2;
}

[data-tab="animal"] {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

ul li {
  scroll-snap-align: center;
}

.animais-lista img {
  cursor: pointer;
}

/*Estilizando a barra de scroll*/
.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

/*FAQ*/
.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
  cursor: pointer;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

/* ACCORDION LIST */
[data-anima="accordion"] dt::after {
  content: "⬎";
  margin-left: 10px;
}

[data-anima="accordion"] dt.active::after {
  content: "⬏";
}

[data-anima="accordion"] dd {
  display: none;
  animation: slideDown 0.5s forwards;
}

[data-anima="accordion"] dd.active {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 100px;
  }
}

/* CONTATO */
.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  font-family: Helvetica, Arial;
  margin-bottom: 1rem;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.3rem;
}

/* NAVEGAÇÃO TAB */
[data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.active {
  display: block;
}

[data-tab="content"] section.active.show-right {
  animation: showRight 0.3s forwards;
}

[data-tab="content"] section.active.show-down {
  animation: showDown 0.3s forwards;
}

@keyframes showRight{
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showDown{
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* SCROLL ANIMATION */
[data-anima="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

[data-anima="scroll"].active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Responsivo */
@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }

  .grid-section h1 {
    font-size: 3rem;
  }

  .menu {
    margin-top: 0;
  }

  .copy {
    margin-bottom: 0;
  }
}