* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eeeeee;
}

aside{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
}

#menu-opener{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}

#menu-area{
    width: 0;
    height: 100vh;
    background-color: #ccc;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all ease .7s;
}

#menu-area ul, #menu-area li{
    padding: 5px;
    list-style: none;
    background-color: #ccc;
}

#menu-area li:hover{
    background-color: rgb(150, 144, 144);
}

.menu-opend{
    width: 200px !important;
}